html {
    background-color: darkgrey;
}

body {
    margin: 0px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
    max-width: 484px;
    border: 1px solid black;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    clear: left;
}

h2 {
    margin-top: 20px;
    background-color: grey;
}

#title {
    margin: 10px 0px 3px 0px;
}

#subtitle {
    margin: 0px 0px 3px 0px;
    text-transform: uppercase;
    font-size: medium;
}

.sm-img{
    height: 200px;
}

img {
    max-width: 100%;
    border: 0;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0px;
}

.details {
    position: absolute;
    left: 700px;
}

button {
   background-color: #0597F2;
   border-color: #80C7F2; 
}

.hidden {
    display: none;
}

.image {
    float: left;
}

.hikepic {
    display: block;
    margin: auto;
}

footer {
    clear: left;
}

.uName {
    font-weight: bold;
    margin-bottom: 3px;
}

.cText {
    margin-top: 2px;
    margin-bottom: 0px;
}