@charset "UTF-8";
/*! main.css */

    /* colors selected by CIT 336 
    --black: #000000;
    --blue: #0000ee;
    --grey: #808080;
    --maroon: #990033;
    --red: #de2226;
    --yellow: #f8f192;
    --white: #ffffff;*/

html {
    background-image: url(../images/site/background.jpg);
    background-position: left top;
}

body { 
    margin: 15px 5px;  
    font-size: 1em;
    line-height: 1.4;
    background-color: white;
}

h1, h2, h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.accountmenu {
    float: right;
    padding: 10px 5px;
}

#accounticon {
    height: 1em;
}

.logo {
    padding: 5px;
}

#logo {
    height: 100px;
}

nav {	
    margin: 0 auto;	
    max-width: 100%; 
    background-color: #de2222;	
}

.navigation { 
    list-style: none; 
    text-align: center; 
}

.navigation li:first-child { 
    display: block;
}

.navigation li { 
    display: none;
}

.navigation a {
    display: block;	
    color: #fff; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;
}

.navigation a:hover {	
    color: #de2222; 
    background-color: #fff; 
    font-weight: 700;	
}

.responsive li { 
    display: block; 
}

section {
    padding: 15px;
}

footer {
    text-align: center;
    font-size: .75em;
    border-top: 2px solid black;
    padding: 10px;
}

.rocketfeature {
    position: relative;
}

.rocketfeature ul {
    list-style: none;
    color: #990033;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: .75em;
}

#actionbtn {
    width: 60%;
}

.productreview {
    padding: 0px 25px;
}

.recipeimg {
    height: 100px;
}

td {
    text-align: center;
    width: 50%;
    margin: 0px;
}

.img {
    background-color: #808080;
}

@media screen and (min-width: 600px) {
    body {
        margin: 20px;
    }

    .navigation {
        text-align: left;
    }
    .navigation li:first-child { 
        display: none;	
    }
    .navigation li { 
        display: inline-block; 
        margin-right: 1rem;
    }	
    .navigation li a { 
        color: white;
    }

    .rocketfeature ul {
        top: 20%;
        left: 60%;
        font-size: 1em;
    }
   
    #actionbtn {
        width: 75%;
    }
}

@media screen and (min-width: 800px) {
    body {
        max-width: 900px;
    }
    .flexcontainer {
        display: flex;
        align-items: flex-start;
    }

    #featured-recipes {
        width: 300px;
        padding-top: 0px;
    }

}

@media screen and (min-width: 950px) {
    body {
        margin: 15px auto;
    }
}